<div class="cont">
  <div class="form sign-in">
    <h2>어서오세요!</h2>

    <label>
      <span>아이디</span>
      <input type="text" />
    </label>

    <label>
      <span>비밀번호</span>
      <input type="password" />
    </label>

    <p class="forgot-pass">비밀번호를 잊으셨나요?</p>
    <button type="button" class="submit">회원가입</button>
  </div>

  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>처음이신가요?</h2>
        <p>회원가입 하시고 새로운 책을 탐험해보세요!</p>
      </div>

      <div class="img__btn">
        <span class="m--up">회원가입</span>
      </div>
    </div>
  </div>
</div>

<a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a>

